* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: inherit;
}
.alert-message{
  text-align: center;
  color: #FF1C14;
  font-weight: bold;
  margin: 3%;
}
.avatar {
  height: 70px;
  margin: 0;
}
.button {
  background-color: #FFC44F;
  padding: 2%;
  margin: 1%;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.button:hover {
  color: #E85531;
}
.card {
  display: flex;
  flex-flow: column;
  height: auto;
  width: 90%;
  padding: 2%;  
  border-radius: 10px;
  box-shadow: 3px 3px 10px 1px #ff1c14;
  padding: 2% 2% 15% 2%;
}
.card-name{
  display: inline-block;
  font-size: 90%;
  font-weight: bolder;
}
.card-post {
  display: inline-block;
  word-wrap: break-word;
}
.card-time {
  display: inline-block;
  font-size: 70%;
  align-self: flex-start;
  padding: 1%;
}
.fa-google{
  color: white;
}
.forms{
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  align-items: center;
}
.header {
  background-image: radial-gradient(#ffbb36 5%, #E85531);
  height: auto;
}
.logo {
  height: 120px;
  display: flex;
  margin: auto;
}

.job-user{
  display: block;
}
.menu {
  margin-left: -100%;
  transition: all .4s;
  position: absolute;
}
.menu ul {
  list-style: none;
  position:relative;
  display: inline-block;
}
.menu ul li{
  width: 100%;
  float: none;
  background-color: #FFC44F;
  
}
.menu a {
  padding: 15px;
  display: flex;
  text-decoration: none;
  text-align: center;
}
.menu ul li:hover a{
  background-color: #FF1C14;
}
.name-user{
  display: block;
}
.name-network {
  color: #FF1C14;
  font-size: 350%;
  font-family: 'Amaranth', sans-serif;
  margin: auto;
  text-align: center;
  padding: 4%;
  text-shadow: #df7f1d 2px 2px 2px;
}
.perfilButton{
  display: flex;
  flex-direction: column;
  width: 35%;
}
.post-textarea{
  border-radius: 10px;
  height: 80px;
  width: 85%;
}
.primary-icon{
  border:1px solid #FFC44F;
  border-radius: 1%;
}
.primary-icon-delete{
  position: absolute;
  right: 5%;
  margin: 2% 4%;
  font-weight: 900;
  color: red;
}
.primary-icon-like{
  position: absolute;
  margin-bottom: 1%;
  left: 80%;
  align-self: flex-end;
}
.primary-icon-edit{
  position: absolute;
  left: 10%;
  align-self: flex-end;
  margin: 1%;
}
.primary-icon-save{
  position: absolute;
  left: 21%;
  align-self: flex-end;
  margin: 1%;
}
.post-box{
  margin: 10%;
  display: flex;
  justify-content: center;
  margin: 10% 5%;
}
.input  {
  width: auto;
  border-radius: 15px;
  padding: 5px;
  margin: 0 3% 5%;
}
.register-section {
  display: flex;
  flex-direction: column;
}
.text-simple {
  text-align: center;
  padding: 2%;
}
#saveData {
  padding: 3%;
  margin: 5%;
  background-color: #FFC44F;
}
#deleteCount {
  padding: 3%;
  background-color: #e86b76;
}
.user {
  display: flex;
  padding: 6%;
  font-weight: 600;
  color: #FF1C14;
  align-self: center;
}
.user-info {
  display: flex;
  flex-direction: column;
}
#btnGoogle.button{
  background-color: #DB4437;
  border-radius: 50%;
  height: auto;
}
#btnregister.button{
  display: block;
  margin: auto
}
#btnForget.button{
  background-color: transparent;
  font-weight: normal;
  padding: 2%;
  margin: 1%;
  font-size: 1rem;
  cursor: pointer;
}
#btn-menu {
  display: none;
}
#btn-menu:checked ~ .menu{
  margin-left: 5%;
  display: block;
}
label[for="btn-menu"]{
  padding: 5px;
  text-align: left;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  display: flex;
  position: absolute;
  top: 5%;
  left: 5%;
  border: 2px solid  #FFC44F;
}
label{
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: large;
  padding: 2%;
}
#list-post{
  margin:0;
  padding:0;
}

@media screen and (min-width: 992px){
  .template {
    display: flex;
    justify-content: center;
  }
  .perfil-section{
    flex: 1 1 100%;
    padding: 2% 0 8%;
  }
  .header {
    flex:1 1 100%;
    display: flex;
  }
  .logo {
    height: auto;
  }
  .login-section{
    flex:1 1 100%;
    padding: 2%;
  }
  .register-section{
    flex:1 1 100%;
    padding: 2% 0 12%;
  }
  .update-box{
    flex:1 1 100%;
    padding: 14% 0 14%;
  }
  .primary-input  {
    width: 50%;
    margin: 2%
  }
  .inputDescription {
    font-size: 120%;  
    font-family: 'Handlee', cursive;
    display:inline-flex ; 
  }
  .perfil.primary-input{
    display:inline-flex; 
    position: relative;
    width: 100%;
  }
  .name-network{
    font-size: 450%;
  }
  #saveData{
    display: inline-block;
    width: 100%;
    padding: 5%;
  }
  #deleteCount{
    display: inline-block;
    width: 100%;
    padding: 5%
  }
  .perfilButton{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
  }
  #btn-menu:checked ~ .menu{
    margin-left: 0%;
    display: block;
  }
}
