* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: inherit;
}

.alert-message {
  text-align: center;
  color: #FF1C14;
  font-weight: bold;
  margin: 3%;
}

.avatar {
  height: 70px;
  padding: 5%;
  margin: 0;
}

.button {
  background-color: #FFC44F;
  padding: 2%;
  margin: 1%;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: #E85531;
}

#btn-menu:checked~.menu {
  margin-top: -5%;
  margin-left: 5%;
  display: block;
}

#btnGoogle.button {
  background-color: #DB4437;
  border-radius: 50%;
  height: auto;
}

#btnregister.button {
  display: block;
  margin: 0 auto 10%;
}

#btnForget.button {
  background-color: transparent;
  font-weight: normal;
  text-decoration: underline;
  padding: 2%;
  margin: 1%;
  font-size: 1rem;
  cursor: pointer;
}

#btn-menu {
  display: none;
}

.card {
  display: flex;
  flex-flow: column;
  height: auto;
  width: 85%;
  border-radius: 10px;
  padding: 0 0 10%;
  border: 1px solid #E85531;
}

.card-name {
  font-size: 90%;
  font-weight: bolder;
  border: none;
  background-color: #E85531;
  padding: 0 2%;
}

.card-post {
  display: inline-block;
  word-wrap: break-word;
  padding: 2%;
}

.card-time {
  font-size: 70%;
  border: none;
  border-radius: 10px 10px 0 0;
  background-color: #E85531;
  padding: 2% 2% 0;
}

.fa-google {
  color: white;
}

.forms {
  display: flex;
  flex-direction: column;
  padding: 3% 0;
  align-items: center;
}

.forms-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 5% 0;
}

.group-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  background-image: radial-gradient(#ffbb36 5%, #E85531);
  height: auto;
}

.header-post {
  height: auto;
  display: flex;
  background-image: radial-gradient(#ffbb36 5%, #E85531);
  width: 100%;
}

.img-post {
  height: 120px;
  margin: auto;
}

.input {
  width: auto;
  border-radius: 15px;
  padding: 5px;
  margin: 0 3% 5%;
}

.job-user {
  color: #FF1C14;
  align-items: center;
  word-wrap: break-word;
  padding-top: 2%;
}

label[for="btn-menu"] {
  padding: 3%;
  font-size: 150%;
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 5%;
  border: 2px solid #FFC44F;
}

label {
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: large;
  padding: 2%;
}

#list-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.logo {
  height: 120px;
  display: flex;
  margin: auto;
}

.menu {
  margin-left: -100%;
  width: 100%;
  transition: all .3s;
  position: absolute;

}

.menu ul {
  list-style: none;
  position: relative;
  display: inline-block;
}

.menu ul li {
  width: 100%;
  float: none;
  background-color: #FFC44F;
}

.menu a {
  padding: 15px;
  display: flex;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
}

.menu ul li:hover a {
  background-color: #FF1C14;
  color: black;
}

.name-user {
  font-weight: 600;
  color: #FF1C14;
  align-self: center;
  padding-top: 2%;
}

.name-network {
  color: #FF1C14;
  font-size: 350%;
  font-family: 'Amaranth', sans-serif;
  margin: auto;
  text-align: center;
  padding: 4%;
  text-shadow: #df7f1d 2px 2px 2px;
}

.primary-box {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.post-textarea {
  border-radius: 10px;
  height: 80px;
  width: 90%;
  padding: 2%;
  margin-bottom: 2%;
}

.post-box {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.primary-icon {
  border: 1px solid #FFC44F;
  border-radius: 1%;
}

.primary-icon-delete {
  position: absolute;
  right: 11%;
  margin: 2% 0;
  width: 7%;
  height: 4%;
  font-weight: 900;
  color: red;
}

.primary-icon-like {
  position: absolute;
  right: 10%;
  align-self: flex-end;
  width: 12%;
  height: 4%;
}

.primary-icon-edit {
  position: absolute;
  left: 10%;
  align-self: flex-end;
  width: 7%;
  height: 4%;
}

.primary-icon-save {
  position: absolute;
  left: 21%;
  align-self: flex-end;
  width: 7%;
  height: 4%;
}

.register-section {
  display: flex;
  flex-direction: column;
}

#saveData {
  padding: 3%;
  margin: 5%;
  background-color: #FFC44F;
}

.text-simple {
  text-align: center;
  padding: 2%;
}

#deleteCount {
  padding: 3%;
  background-color: #e86b76;
}

.user {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 5%;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 1px #E85531;
}

.user-info {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .avatar {
    height: 80px;
    margin: 0 10px 0 0;
  }

  .box-post {
    flex: 1 1 100%
  }

  #btn-menu {
    height: auto;
    width: 6%;
  }

  #btn-menu:checked~.menu {
    margin-top: -1.8%;
    margin-left: 5%;
    display: block;
  }

  #btn-menu:checked~#post.menu {
    margin-top: 7%;
  }

  #deleteCount {
    display: inline-block;
    width: 100%;
    padding: 5%
  }

  .forms-post {
    margin: 50px 5% 10%;
    border: 1px solid lightgrey;
    border-radius: 10px;
  }

  .header {
    flex: 1 1 100%;
    display: flex;
  }

  .header-post {
    display: flex;
    background-image: radial-gradient(#ffbb36 5%, #E85531);
  }

  .job-user {
    margin: 0 20% 0 5%;
    height: auto;
    align-items: baseline;
    width: 75%;
  }

  .logo {
    height: auto;
  }

  .login-section {
    flex: 1 1 100%;
  }

  label[for="btn-menu"] {
    padding: 1%;
  }

  .name-network {
    font-size: 450%;
  }

  .name-user {
    display: flex;
    align-self: baseline;
    margin-left: 5%;
  }

  .group-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
  }

  .profile-section {
    flex: 1 1 100%;
  }

  .post-textarea {
    margin: 3%;
    width: 85%;
    border-width: medium;
  }

  .primary-icon-delete {
    right: 5%;
    margin-top: 1%;
    width: 3%;
    height: auto;
  }

  .primary-icon-edit {
    width: 3%;
    height: auto;
    left: 45%;
  }

  .primary-icon-like {
    right: 5%;
    width: 5%;
    height: auto;
    margin-bottom: auto;
  }

  .primary-icon-save {
    left: 49%;
    height: auto;
    width: 3%;
  }

  .register-section {
    flex: 1 1 100%;
    padding: 2% 0 2%;
  }

  #saveData {
    display: inline-block;
    width: 100%;
    padding: 5%;
  }

  .list-post {
    width: 50%;
    margin: 2%;
    margin-left: 36%;
  }

  .template {
    display: flex;
  }

  .update-box {
    flex: 1 1 100%;
    padding: 14% 0 14%;
  }

  .user {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    height: 50%;
    margin: 50px 5%;
  }

  .template-post {
    display: flex;
  }

}
