* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: inherit;
}

.alert-message {
  text-align: center;
  color: #FF1C14;
  font-weight: bold;
}

.avatar {
  height: 70px;
  padding: 5%;
  margin: 0;
}

.button {
  box-sizing: border-box;
  background-color: #FFC44F;
  padding: 2% 6%;
  margin: 1%;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: #E85531;
}

.menu {
  margin-left: -100%;
  width: 100%;
  transition: all .3s;
  position: absolute;
}

#btn-menu:checked~.menu {
  margin-top: -5%;
  margin-left: 5%;
  display: block;
}

#btnGoogle.button {
  background-color: #DB4437;
  border-radius: 50%;
  height: auto;
  padding: 2%;
}

.link {
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

#btn-menu {
  display: none;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: auto;
  width: 85vw;
  border-radius: 10px;
  padding-bottom: 15%;
  border: 1px solid #E85531;
  margin-bottom:  -2%;
}

.card-name {
  font-size: 1rem;
  font-weight: bolder;
}

.card-post {
  display: inline-block;
  word-wrap: break-word;
  padding: 2%;
}

.card-time {
  font-size: 0.7rem;
  border: none;
  border-radius: 10px 10px 0 0;
  background-color: #E85531;
  padding: 2% 2% 0;
}

.fa-google {
  color: white;
}

.forms {
  display: flex;
  flex-direction: column;
  padding: 2% 0 0;
  align-items: center;
}

.forms-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 5% 0;
}

.group-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  background-image: radial-gradient(#ffbb36 5%, #E85531);
  height: auto;
}

.header-post {
  height: auto;
  display: flex;
  background-image: radial-gradient(#ffbb36 5%, #E85531);
  width: 100%;
}

.img-post {
  height: 15vh;
  margin: auto;
}

.input {
  width: auto;
  height: 5vh;
  border-radius: 15px;
  padding: 3px;
  margin: 0 0 3%;
  border: 1px solid rgb(167, 163, 163);
}

.job-user {
  color: #FF1C14;
  align-items: center;
  word-wrap: break-word;
  padding-top: 2%;
}

label[for="btn-menu"] {
  padding: 3%;
  font-size: 150%;
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 5%;
  border: 2px solid #FFC44F;
}

label {
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: large;
}

#list-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.logo {
  height: 120px;
  display: flex;
  margin: auto;
}

.logo-post{
  height: 18vh;
  display: flex;
  margin: auto;
}


.menu ul {
  list-style: none;
  position: relative;
  display: inline-block;
}

.menu ul li {
  width: 100%;
  float: none;
  background-color: #FFC44F;
}

.menu a {
  padding: 15px;
  display: flex;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
}

.menu ul li:hover a {
  background-color: #FF1C14;
  color: black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;  
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}
.modal.show {
  display: flex;
}
.buttonModal button{
  box-sizing: border-box;
  background-color: #FFC44F;
  padding: 6% 6%;
  margin: 0 3%;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.buttonModal {
  padding: 5% 0;
}

.modal-content {
  display: flex;
  box-sizing: border-box;
  background-color: #fefefe;
  margin: auto;
  padding: 3%;
  border-radius: 15px;
  width: 80vw;
  height: 20vh;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.name-user {
  font-weight: 600;
  color: #FF1C14;
  align-self: center;
  padding-top: 2%;
}

.name-network {
  color: #FF1C14;
  font-size: 2.5rem;
  font-family: 'Amaranth', sans-serif;
  margin: auto;
  text-align: center;
  padding: 3% 0 0;
  text-shadow: #df7f1d 2px 2px 2px;
}

.primary-box {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.post-textarea {
  border-radius: 10px;
  height: 80px;
  width: 90%;
  padding: 2%;
  margin-bottom: 2%;
}

.post-box {
  display: flex;
  margin: 5% auto;
}

.primary-icon {
  border: 1px solid #FFC44F;
  border-radius: 1%;
}

.primary-icon-delete {
  position: absolute;
  left: 80%;
  margin-top: 2%;
  width: 10vw;
  height: 8vw;
  font-weight: 900;
  color: red;
}

.primary-icon-like {
  position: absolute;
  right: 10%;
  align-self: flex-end;
  width: 12vw;
  height: 10vw;
}

.primary-icon-edit {
  position: absolute;
  right: 78%;
  align-self: flex-end;
  width: 12vw;
  height: 10vw;
}

.primary-icon-save {
  position: absolute;
  left: 21%;
  align-self: flex-end;
  width: 12vw;
  height: 10vw;
  margin-left: 3%;
}

.register-section {
  display: flex;
  flex-direction: column;
}

#saveData {
  padding: 3%;
  margin: 5%;
  background-color: #FFC44F;
}

.text-simple {
  text-align: center;
  font-size: 1.1rem;
  padding: 1%;
}

#deleteCount {
  padding: 3%;
  background-color: #e86b76;
}

.user {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 5%;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 1px #E85531;
}

.user-info {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .avatar {
    height: 80px;
    margin: 0 10px 0 0;
  }

  .box-post {
    flex: 1 1 100%
  }

  #btn-menu {
    height: auto;
    width: 6%;
  }

  #btn-menu:checked~.menu {
    margin-top: -1.8%;
    margin-left: 5%;
    display: block;
  }

  #btn-menu:checked~#post.menu {
    margin-top: 7%;
  }

  .card{
    width: 53vw;
    padding-bottom: 6%;
    margin-bottom: -1%;
  }

  #deleteCount {
    display: inline-block;
    width: 100%;
    padding: 5%
  }

  .forms-post {
    margin: 50px 5% 10%;
    border: 1px solid lightgrey;
    border-radius: 10px;
  }
  
  .forgot-password-section {
    flex: 1 1 100%;
  }
  
  .group-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
  }

  .header {
    flex: 1 1 100%;
    display: flex;
    height: 100vh;
  }

  .header-post {
    display: flex;
    background-image: radial-gradient(#ffbb36 5%, #E85531);
    height: 20vh;
  }

  .input {
    margin: 0 0 2.8%;
    width: 20vw;
  }

  .logo{
    height: auto;
  }

  .login-section {
    flex: 1 1 100%;
    box-sizing: border-box;
    height: 100vh;
  }

  label[for="btn-menu"] {
    padding: 1%;
  }

  .modal-content {
    width: 30vw;
    height: 30vh;
  }
  .name-network {
    font-size: 4rem;
    margin: 0;
  }

  .name-user {
    display: flex;
    align-self: baseline;
  }

  .profile-section {
    flex: 1 1 100%;
  }

  .post-textarea {
    margin: 3%;
    width: 85%;
    border-width: medium;
  }

  .post-box {
    margin: 2% auto;
  }
  .primary-icon-delete {
    left: 92.5%;
    margin-top: 0.8%;
    width: 3.5vw;
    height: 2.5vw;
  }

  .primary-icon-edit {
    width: 3.5vw;
    height: 2.5vw;
    left: 44%;
  }

  .primary-icon-like {
    right: 4%;
    width: auto;
    height: 2.5vw;
  }

  .primary-icon-save {
    left: 46%;
    width: 3.5vw;
    height: 2.5vw;
  }

  .register-section {
    flex: 1 1 100%;
    height: 100vh;
    box-sizing: border-box;
  }

  #saveData {
    display: inline-block;
    width: 100%;
    padding: 5%;
  }

  .list-post {
    width: 50%;
    margin: 2%;
    margin-left: 36%;
  }

  .template {
    display: flex;
  }

  .update-box {
    flex: 1 1 100%;
    padding: 14% 0 14%;
  }

  .user {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    height: 50%;
    margin: 50px 5%;
  }

  .template-post {
    display: flex;
  }

}
