* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: inherit;
}
.alert-message{
  text-align: center;
  color: #FF1C14;
  font-weight: bold;
  margin: 3%;
}

.avatar {
  height: 70px;
  margin: 0;
}
.button {
  background-color: #FFC44F;
  padding: 2%;
  margin: 1%;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.button:hover {
  color: #E85531;
}

.card {
  display: flex;
  flex-flow: column;
  height: auto;
  width: 90%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 1px #ff1c14;
  padding: 2% 2% 15% 2%;
}

.card-name {
  display: inline-block;
  font-size: 90%;
  font-weight: bolder;
}

.card-post {
  display: inline-block;
  word-wrap: break-word;
}

.card-time {
  display: inline-block;
  font-size: 70%;
  align-self: flex-start;
  padding: 1%;
}
.fa-google{
  color: white;
}
.forms{
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  align-items: center;
}
.forms-post{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  justify-content: center;
  margin: 10% 5%;
}
.header {
  background-image: radial-gradient(#ffbb36 5%, #E85531);
  height: auto;
}

.header2 {
  height: 3em;
  display: flex;
  background-image: radial-gradient(#ffbb36 5%, #E85531);
  width: 100%;
  min-height: 60px;
  top: 0;
  right: 0;
  left: 0;
}

.img-post {
  height: 100%;
  display: flex;
  margin-left: 45%;
}

.job-user{
  margin-left: 10%;
  font-weight: 300;
  color: #FF1C14;
  display: flex;
  align-self: center;
  width: 100%;
}

label[for="btn-menu"] {
  padding: 5px;
  text-align: left;
  font-size: 100%;
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 1%;
  left: 5%;
  border: 2px solid #FFC44F;
}

.logo{
  height: 120px;
  display: flex;
  margin: auto;
}

.menu {
  margin-left: -100%;
  width: 100%;
  transition: all .3s;
  position: absolute;

}

.menu ul {
  list-style: none;
  position: relative;
  display: inline-block;
}

.menu ul li {
  width: 100%;
  float: none;
  background-color: #FFC44F;
}

.menu a {
  padding: 15px;
  display: flex;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
}

.menu ul li:hover a {
  background-color: #FF1C14;
  color: black;
}
.name-user{
  margin-left: 10%;
  font-weight: 600;
  color: #FF1C14;
  display: flex;
  align-self: center;
}

.name-network {
  color: #FF1C14;
  font-size: 350%;
  font-family: 'Amaranth', sans-serif;
  margin: auto;
  text-align: center;
  padding: 4%;
  text-shadow: #df7f1d 2px 2px 2px;
}
.primary-box {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.post-textarea{
  border-radius: 10px;
  height: 80px;
  width: 85%;
  padding: 5px;
  margin-left: 6%
}
.primary-icon {
  border: 1px solid #FFC44F;
  border-radius: 1%;
}
.primary-icon-delete {
  position: absolute;
  right: 5%;
  margin: 2% 4%;
  font-weight: 900;
  color: red;
}
.primary-icon-like {
  position: absolute;
  margin-bottom: 1%;
  left: 70%;
  align-self: flex-end;
}

.primary-icon-edit {
  position: absolute;
  left: 10%;
  align-self: flex-end;
  margin: 1%;
}
.primary-icon-save {
  position: absolute;
  left: 21%;
  align-self: flex-end;
  margin: 1%;
}
.post-box{
  margin: 10%;
  display: flex;
  justify-content: center;
  margin: 10% 5%;
}
.input  {
  width: auto;
  border-radius: 15px;
  padding: 5px;
  margin: 0 3% 5%;
}
.register-section {
  display: flex;
  flex-direction: column;
}
.text-simple {
  text-align: center;
  padding: 2%;
}

#btn-menu {
  display: none;
}
#saveData {
  padding: 3%;
  margin: 5%;
  background-color: #FFC44F;
}
#deleteCount {
  padding: 3%;
  background-color: #e86b76;
}
.user {
  display: flex;
  justify-content: flex-start;
  padding: 6%;
  flex-direction: row;
}
.user-info {
  display: flex;
  flex-direction: column;
}
#btnGoogle.button{
  background-color: #DB4437;
  border-radius: 50%;
  height: auto;
}
#btnregister.button{
  display: block;
}
#btnForget.button{
  background-color: transparent;
  font-weight: normal;
  padding: 2%;
  margin: 1%;
  font-size: 1rem;
  cursor: pointer;
}

#list-post {
  margin: 0;
  padding: 0;
}

#iGoogle.primary-button {
  background-color: #DB4437;
  border-radius: 50%;
  height: auto;
}

#register.primary-button {
  display: block;
  margin: auto
}

label{
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: large;
  padding: 2%;
}
#list-post{
  margin:0;
  padding:0;
}
@media screen and (min-width: 992px) {
  .avatar {
    height: 80px;
    margin: 0 10px 0 0;
  }

  .box {
    display: flex;
    justify-content: center;
  }

  .box-post {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: space-between;
    margin-left: 6%;
  }

  #btn-menu {
    height: auto;
    width: 6%;
  }
  .card-name {
    margin-left: 1%;
  }
  .card-post {
    margin-left: 1%;
  }
  .perfil-section{
    flex: 1 1 100%;
    padding: 2% 0 8%;
  }
  .header {
    flex: 1 1 100%;
    display: flex;
  }
  .job-user{
    margin: 0 20% 0 5%;
    height: auto;
    align-items: baseline;
    width: 75%;
  }

  .logo {
    height: auto;
  }
  .login-section{
    flex:1 1 100%;
    padding: 2%;
  }
  label[for="btn-menu"] {
    margin-top: 1%;
    padding-bottom: 0px;
  }
  .name-user{
    display: flex;
    align-self: baseline;
    margin-left: 5%;
  }
  .register-section{
    flex:1 1 100%;
    padding: 2% 0 12%;
  }
  .forms-post {
    margin: 0 10% 0;
  }
  .post-textarea {
    width: 50%;
    margin: 5% 0 0 3%;
  }
  .primary-icon-delete {
    right: 14%;
    margin-top: 1%;
  }
  .primary-icon-edit {
    margin-right: 35%;
    margin-left: auto;
  }

  .primary-icon-like {
    margin-left: 9%;
  }

  .primary-icon-save {
    left: auto;
    margin-right: 33%;
  }

  .register-box {
    flex: 1 1 100%;
    padding: 2% 0 12%;
    width: 50%;
    margin-left: 25%
  }

  .timeline {
    width: 50%;
    margin: 2%;
    margin-left: 36%;
  }

  .update-box {
    flex: 1 1 100%;
    padding: 14% 0 14%;
  }

  .user {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 6% auto;
    padding: 0;

  }
  .name-network{
    font-size: 450%;
  }
  #saveData{
    display: inline-block;
    width: 100%;
    padding: 5%;
  }
  #deleteCount{
    display: inline-block;
    width: 100%;
    padding: 5%
  }
  .perfilButton{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
  }
  #btn-menu:checked ~ .menu{
    margin-left: 0%;
    display: block;
  }
}
